@font-face {
   font-family: 'Bebas Neue';
   src: url('/assets/fonts/BebasNeue/BebasNeue Bold.otf');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Azkia';
   src: url('/assets/fonts/Azkia.otf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Gilroy';
   src: url('/assets/fonts/Gilroy/Gilroy-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Gilroy';
   src: url('/assets/fonts/Gilroy/Gilroy-Medium.ttf');
   font-weight: 600;
   font-style: normal;
}

/* Переменный */
:root {
	/* color black */
	--bl: #1E1E1E;
	--bl0: rgba(30,30,30,.0);
	--bl1: rgba(30,30,30,.1);
	--bl2: rgba(30,30,30,.2);
	--bl3: rgba(30,30,30,.3);
	--bl4: rgba(30,30,30,.4);
	--bl5: rgba(30,30,30,.5);
	--bl6: rgba(30,30,30,.6);
	--bl7: rgba(30,30,30,.7);
	--bl8: rgba(30,30,30,.8);
	--bl9: rgba(30,30,30,.9);
	--bl05: rgba(30,30,30,.05);
}



/*  */
body{
   font-family: 'Gilroy';
   font-weight: 400;
   font-style: normal;
}
.bl_c{
   max-width: 1440px;
}
.btn{
   border-radius: 8px;
}
















/* header */
.header{
	position: fixed;
	z-index: 910;
	top: 20px;
	left: 0;
	width: 100%;
	transition: .5s;
}
.header_hide{top:-180px !important}
.header_fix{}
@media(max-width:500px){
   .mheader_none{display:none}
	.header{
      top: 0;
      border-radius: 0;
   }
   .header_fix{
      background: var(--wh);
   }
}

.header_c{
	position: relative;
	padding: 0 15px 0 30px;
	margin: 0 -30px;
	width: calc(100% + 60px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 74px;
	border-radius: 16px;
	background: var(--tr);
	transition: .5s;
}
.header_fix .header_c{
	background: var(--wh);
	-webkit-box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
   box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
}
@media(max-width:500px){
	.header_c, .header_fix .header_c{
      width: 100%;
      margin: 0;
      padding: 0;
      background: var(--tr);
      -webkit-box-shadow: none;
      box-shadow: none;
      height: 64px;
   }
}


.logo{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
}
@media(max-width:500px){
   .logo{
      font-size: 16px;
   }
}

/* menu */
.menu{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_bars {
	position: relative;
	padding: 15px 20px;
	border-radius: 14px;
	transition: 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.menu_act{}
.menu:hover .menu_bars{background:var(--cm1)}
@media(max-width:500px){
	.menu_bars{
		cursor: auto;
		width: 54px;
		height: 54px;
		padding: 0;
	}
}

.menu_bars span{
	font-size: 18px;
	margin-right: 10px;
	/* text-transform: uppercase; */
	font-weight: 600;
}
@media(max-width:500px){.menu_bars span{display:none}}

.menu_bars_i {position:relative}
.menu_act .menu_bars_i {transform:rotate(-45deg)}
.menu_bars_i, .menu_bars_i::before, .menu_bars_i::after {
	width: 28px;
	height: 2px;
	border-radius: 2px;
	background-color: var(--bl);
	transition: 0.2s ease-in-out;
}
.menu_bars_i::before, .menu_bars_i::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	will-change: transform;
}
.menu_bars_i::before{transform:translateY(-8px)}
.menu_bars_i::after{transform:translateY(8px)}
.menu_act .menu_bars_i::before, .menu_act .menu_bars_i::after {transform:translateX(0) rotate(-90deg)}
@media(max-width:500px){
   .menu_bars_i, .menu_bars_i::before, .menu_bars_i::after {
      width: 24px;
   }
}


/*  */
.menu_c{
	position: absolute;
	right: 0;
	top: 39px;
	width: 300px;
	border-radius: 18px;
	background: var(--wh);
	transition: .3s;
	-webkit-box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
   box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
}
.header_fix .menu_c{right:-15px}
.menu_act .menu_c{
	opacity:1;
	visibility:visible;
	top: 89px;
}
@media(max-width:500px){
   .menu_act .menu_c{top:74px}
   .header_fix .menu_c{right:0}
}
@media(max-width:320px){.menu_c{right:-5px}}

.menu_ci{
	position: relative;
	width: 100%;
	min-height: 54px;
	padding: 0 30px;
	border-bottom: 1px solid var(--gr1);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: .3s;
	cursor: pointer;
}
.menu_ci:first-child{
	height: calc(54px + 10px);
	padding-top: 10px;
}
.menu_ci:last-child{
	height: calc(54px + 10px);
	padding-bottom: 10px;
	border-bottom: 0;
}
.menu_ci:hover{
	background: var(--cm1);
	border-bottom-color: var(--tr);
}

.menu_cin{
	position: relative;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
}
.menu_cih{
	position: relative;
	width: calc(100% - 34px - 15px);
	margin-left: 15px;
	font-size: 16px;
}


.menu_cih span{
	position: relative;
	width: 22px;
	min-width: 22px;
	height: 22px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	border-radius: 50%;
	background: var(--cm);
	color: var(--wh);
	margin-left: 10px;
	padding-top: 1px;
	padding-right: 1px;
}


















/*  */
.obl1{
   position: relative;
   width: 100%;
   overflow: hidden;
}
.obl1_abs{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}







.obl1_c{
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
}
@media (max-width: 500px) {
   .obl1_c{
      display: block;
      height: auto;
   }
}


.obl1_ca1, .obl1_ca2, .obl1_ca3, .obl1_ca4, .obl1_ca5{
   position: absolute;
   background-size: 100% auto;
   background-position: center center;
   background-repeat: no-repeat;
}
.obl1_ca1{
   width: 200.66px;
   height: 290.46px;
   left: -170px;
   top: 21px;
   /* filter: blur(9px); */
   /* transform: rotate(30deg); */
   transform: scale(1.2);
}
.obl1_ca2{
   width: 792px;
   height: 792px;
   left: -341px;
   top: 392px;
}
.obl1_ca3{
   width: 438px;
   height: 634px;
   left: 1096.42px;
   top: 66.85px;
   /* transform: rotate(-30deg); */
   transform: scale(1.5);
}
.obl1_ca4{
   width: 561.3px;
   height: 561.3px;
   left: 397px;
   top: 225.65px;
   transform: scale(1.5);
   /* filter: blur(8px); */
   /* transform: rotate(-30deg); */
}
.obl1_ca5{
   width: 792px;
   height: 792px;
   left: 1050.05px;
   top: 744.05px;
   /* filter: blur(6px); */
   /* transform: rotate(-30deg); */
}
@media (max-width: 500px) {
   .obl1_ca2{
      width: 535.61px;
      height: 535.61px;
      left: -272.95px;
      top: 252.86px;
      transform: rotate(-30deg);
   }
   .obl1_ca3{
      width: 228.48px;
      height: 330.73px;
      left: 242px;
      top: 465.24px;
   }
}




.obl1_l{
   position: relative;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}
.obl1_l1{
   position: relative;
   width: 100%;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 38px;
   color: #1E1E1E;
   margin-bottom: 30px;
}
.obl1_l1 span{
   font-weight: 600;
}
.obl1_l1 br{
   display: none;
}
@media (max-width: 500px) {
   .obl1_l{
      width: 100%;
      padding-top: 120px;
   }
   .obl1_l1{
      font-size: 20px;
      line-height: 24px;
      text-align: center;
   }
   .obl1_l1 br{
      display: block;
   }
}


.obl1_l2{
   position: relative;
   width: 100%;
   font-family: 'Bebas Neue';
   /* font-family: 'Bebas Neue', cursive; */
   font-style: normal;
   font-weight: 700;
   font-size: 162px;
   line-height: 99.46%;
   color: #1E1E1E;
}
.obl1_l2 span{
   color: #F0BE73;
   background: linear-gradient(267.8deg, #EC7E4A 6.03%, #F2B442 99.54%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}
@media (max-width: 500px) {
   .obl1_l2{
      font-size: 92px;
      text-align: center;
   }
}


.obl1_r{
   position: relative;
   width: 50%;
   height: 100%;
}
.obl1_r div{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}
@media (max-width: 500px) {
   .obl1_r{
      width: 100%;
      height: auto;
      padding-bottom: 175%;
      margin-top: -100px;
   }
   .obl1_r div{
      left: -27px;
      width: calc(100% + 40px);
   }
}









/*  */
.obl2{
   position: relative;
   width: 100%;
   overflow: hidden;
}
.obl2_c{
   position: relative;
   width: 100%;
   height: 780px;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
}
@media (max-width: 500px) {
   .obl2_c{
      height: auto;
      display: block;
   }
}

.obl2_l{
   position: relative;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}
@media (max-width: 500px) {
   .obl2_l{
      width: 100%;
      padding-top: 60px;
      z-index: 2;
   }
}

.obl2_l1{
   font-family: 'Bebas Neue';
   font-style: normal;
   font-weight: 700;
   font-size: 142px;
   line-height: 99.46%;
   color: #1E1E1E;
}
@media (max-width: 500px) {
   .obl2_l1{
      font-size: 72px;
   }
}

.obl2_l2{
   margin-top: -40px;
   font-family: 'Azkia';
   font-style: normal;
   font-weight: 400;
   font-size: 102px;
   line-height: 99.46%;
   background: linear-gradient(267.8deg, #EC7E4A 6.03%, #F2B442 99.54%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}
@media (max-width: 500px) {
   .obl2_l2{
      font-size: 52px;
      margin-top: -10px;
   }
}

.obl2_l3{
   position: relative;
   width: 100%;
   margin-top: 20px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   padding-left: 15px;
}
.obl2_l3 li{
   padding-left: 15px;
   margin-bottom: 20px;
   list-style: disc;
}
@media (max-width: 500px) {
   .obl2_l3{
      padding-left: 15px;
   }
   .obl2_l3 li{
      font-size: 15px;
      margin-bottom: 15px;
      padding-left: 0;
      width: 70%;
   }
   .obl2_l3 li:last-child{
      width: 55%;
   }
}



.obl2_r{
   position: relative;
   width: 50%;
   height: 100%;
}
.obl2_r div{
   position: absolute;
   top: 0;
   left: 0;
   width: 125%;
   height: 100%;
   background-size: 125% auto;
   background-position: center center;
   background-repeat: no-repeat;
}
@media (max-width: 500px) {
   .obl2_r{
      position: absolute;
      width: 100%;
      height: auto;
      padding-bottom: 75%;
      right: -20px;
      bottom: 0;
      z-index: 1;
   }
   .obl2_r div{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: -60% center;
   }
}








/*  */
.obl3{
   position: relative;
   width: 100%;
}
.obl3 .head_c h1{
   text-transform: uppercase;
   font-family: 'Bebas Neue';
   font-style: normal;
   font-weight: 700;
   font-size: 84px;
   line-height: 99.46%;
   /* identical to box height, or 84px */
   text-align: center;
   background: linear-gradient(267.8deg, #EC7E4A 6.03%, #F2B442 99.54%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}
@media (max-width: 500px) {
   .obl3 .head_c h1{
      font-size: 49px;
   }
}



.obl3_c{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: stretch;
}
@media (max-width: 500px) {
   .obl3_c{
      display: block;
   }
}

.obl3_i{
   position: relative;
   width: 100%;
   max-width: 460px;
   padding-top: 380px;
   border-radius: 14px;
   overflow: hidden;
   display: flex;
   align-items: flex-end;
}
.obl3_i:first-child{
   margin-right: 40px;
}
@media (max-width: 500px) {
   .obl3_i{
      padding-top: 240px;
   }
   .obl3_i:first-child{
      margin-right: 0;
      margin-bottom: 20px;
   }
}

.obl3_img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}
.obl3_abs{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(360deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 60.8%, rgba(30, 30, 30, 0) 61.77%);
}

.obl3_ic{
   position: relative;
   width: 100%;
   z-index: 3;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: column;
   padding-bottom: 30px;
}
.obl3_ict{
   font-family: 'Bebas Neue';
   font-style: normal;
   font-weight: 700;
   font-size: 53px;
   line-height: 99.46%;
   /* or 53px */
   text-align: center;
   color: #FFFFFF;
   margin-bottom: 20px;
}
.obl3_ic .btn{
   background: linear-gradient(271.31deg, #EC7E4A 2.57%, #F2B442 100.73%);
}
.obl3_i:last-child .obl3_ic .btn{
   background: linear-gradient(271.31deg, #AE4AEC 2.57%, #7A42F2 100.73%);
}
@media (max-width: 500px) {
   .obl3_ict{
      font-size: 33px;
   }
}













/*  */
.s45{
   height: 300vh;
}





































/*  */



/*  */
.cours{
	position: relative;
	width: 100%;
   padding-top: 160px;
}
.cours_t{
   position: relative;
   width: 100%;
}






/* block auto */
.bq3_c{
	position: relative;
	width: 100%;
   padding-top: 40px;
   
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 40px;
	/* flex-wrap: wrap; */
	/* align-items: stretch; */
	/* justify-content: space-between; */
   /* justify-content: flex-start; */
}
@media(max-width:1024px){
   .bq3_c{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
   }
}
.bq3_ci{
   position: relative;
   width: 100%;
	border-radius: 40px;
	background: var(--wh);
	-webkit-box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	transition: .3s;
	cursor: pointer;
	overflow: hidden;
	border-radius: 30px;
}
.bq3_ci:nth-child(3n){margin-right:0}
.bq3_ci:hover{transform:scale(1.05)}
@media(max-width:500px){
	.bq3_ci{
		border-radius: 30px;
	}
}
@media(max-width:320px){
	.bq3_ci{
		border-radius: 22px;
	}
}

.bq3_cic{
   width: 100%;
   padding-bottom: 100%;
}


/*  */
.bq_ci_img{
	/* position: relative; */
	/* width: calc(100% + 30px); */
	/* height: 280px; */
	/* border-bottom-right-radius: 40px; */
	/* transform: rotate(10deg) translate(-60px, -30px); */
	overflow: hidden;
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 100%;
}
.bq_ci_img div{
	position: relative;
	/* width: calc(100% + 50px); */
	height: 100%;
   width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: .3s;
	/* transform: rotate(-10deg) translate(0, 35px); */
}



.bq_ci_abs{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 2;
   background: linear-gradient(360deg, var(--wh) 0%, rgba(30, 30, 30, 0) 60.8%, rgba(30, 30, 30, 0) 61.77%);
}



.bq_ci_info{
   position: absolute;
   z-index: 3;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 20px 30px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   flex-direction: column;
}

.bq_cih{
	position: relative;
	width: calc(100% - 44px);
	font-size: 20px;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}
@media(max-width:425px){.bq_cih{font-size:22px}}
@media(max-width:375px){.bq_cih{font-size:20px}}
@media (max-width:320px) {
	.bq_cih{
		font-size:18px;
		line-height:20px;
	}
}


.bq_cip{
	position: relative;
	width: 100%;
   color: var(--cl);
   margin-top: 12px;
}
.bq_cip p{font-size:24px}
.bq_cip_sole{
	text-decoration: line-through;
	font-size: 14px !important;
   color: var(--gr);
}



.bq_ci_btn{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	padding-right: 30px;
	padding-bottom: 30px;
	z-index: 5;
	display: flex;
	justify-content: flex-end;
	align-items: center;

   padding-right: 20px;
	padding-bottom: 20px;
}
.bq_ci_btn .btn{
   transform: rotate(-45deg);
   background: var(--gr1);
   border-radius: 50%;
}
.bq3_ci:hover .bq_ci_btn .btn{
   background: var(--cl);
   color: var(--wh);
}



